@charset "UTF-8";

@font-face {
    font-family: 'font' ;
    src: url('../fonts/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'font2';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 98vw;
    height: 100vh;
    background-color:  hsl(30, 54%, 90%);
}

main {
    position: relative;
    background-color: white;
    width: 600px;
    height: auto;
    margin: auto;
}

article#img > img {
    width: 600px;
    height: 300px;
}

article#introducao > h1 {
    font-size: 3.5em;
    margin: 20px 0px 0px 50px;
    font-family: 'font';
    font-weight: 100;
}

article#introducao > p {
    font-size: 1.5em;
    margin: 20px 40px 0px 50px;
    line-height: 1.3em;
    font-family: 'font2';
    color:  hsl(30, 10%, 34%);
}

article#preparacao {
    background-color: hsl(332, 100%, 96%);
    font-family: 'font2';
    width: 450px;
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
}

article#preparacao > h2 {
    padding: 25px;
    font-size: 1.5em;
    color: hsl(333, 73%, 34%);
}

article#preparacao > ul > li {
    padding: 10px;
    font-size: 1.5em;
    transform: translate(60px);
}

article#ingredientes > h2 {
    font-family: 'font';
    font-weight: normal;
    font-size: 2em;
    margin: 20px 40px 15px 50px;
    color: rgb(131, 33, 33);
}

article#ingredientes > ul > li {
    font-family: 'font2';
    padding: 8px;
    font-size: 1.2em;
    color:  hsl(30, 10%, 34%);
    transform: translate(75px);
}

hr {
    margin: 30px 50px 40px 50px;
    border: 1px solid lightgray;
}

article#instrucao > h2 {
    font-family: 'font';
    font-weight: normal;
    font-size: 2em;
    margin: 20px 40px 15px 50px;
    color: rgb(131, 33, 33);
}

article#instrucao > ol {
    color: rgb(131, 33, 33);
    list-style: none;
}

article#instrucao > ol > li {
    font-family: 'font2';
    padding: 8px;
    font-size: 1.2em;
    color:  hsl(30, 10%, 34%);
    max-width: 325px;
    transform: translate(75px);
}